@use "sass:color";
body{
    
    background-image: url(https://www.medellin.gov.co/irj/go/km/docs/galerias/Imagenes/Galer%C3%ADa%20d%C3%ADa%20a%20d%C3%ADa%202021/20210813-reactivacion-economica-2.jpg);
    
}
a{
    color: #000000;
    text-decoration: none;
}
.dadform {
    border-radius: 10px;
    background-color: #394050;
    height: 250px;
    width: 250px;
    width: fit-content;
    padding: 50px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -150px;
    margin-top: -150px;
      
  }
.form-login{
    text-align: center;
    color: whitesmoke;
}
.submits{
    display: inline;
    align-items: center;
    position: relative;
}
#btnSubmit{
    margin-top: 30px;
    margin-right: 5px;
    padding: auto;
}