body{
    background: url(../imgs/fondo_perfil.jpg);
}
.foto{
    background-color: red;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: inherit ;
}
.Perfil{
    color:white;
    text-align: center;
    height: 300px;
    padding: 40px;
}
.contacto{
    color:white;
    text-align:center;
    height: 200px;
    padding: 15px;
    display: flexbox;
    margin: 10px;
    list-style: none;
    
}

.sobre_mi{
    color:white;
    text-align:center;
    height: 50px;
    padding: 30px;

}