   
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
  }
  body {
    font-family: "times new roman";

  }

  .header {
      text-align: center;
      height: 300px;
      padding: 12px;
  }


  .avatar{
      width: 200px;
      height: 200px;
      border-radius: 50%;
  }
.Fotos{

    width: 200px;
    height: 200px;
    border-radius: 70%;

}