body{
    background: url(../imgs/fondo_perfil.jpg);
}
.foto{
    
    background-color: red;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: inherit ;
    
}
.Perfil{
    color:white;
    text-align: center;
    height: 300px;
    padding: 40px;
}
.contacto{
    color:white;
    padding: 10px;
    margin: 2px;
    list-style: none;
    text-align: center;
}

.contacto li{
    display:inline-block;
    margin: 10px;
}
.sobre_mi{
    color:white;
    text-align:center;
    height: 130px;
    padding: 30px;
}
.icono{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}

.facebook{
    background-image: url(../imgs/Facebook.png);
}
.insta{
    background-image: url(../imgs/Instagram.png);
}

.Galeria h1{
    text-align: center;
}

.galeria{
    width: 90%;
    margin:auto;
    list-style:none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

.galeria li{
    margin: 5px;

}
.galeria img{
    width: 150px;
    height: 100px;
}