// Código de estilos para el header
$fondo: #8BAAAD;
$ancho: 514px;
.header * {
    margin: 5px;
}
.header {
    position: fixed;
    width: $ancho;
    max-width: $ancho; //Hace falta if para tamaños mayores
    min-width: 384px; //Hace falta if para tamaños menores
    align-self: center;
    display: flex;
    z-index: 2;
    background-color: #043565;
}
.settings-img {
    border-radius: 50%;
    background-color: $fondo;
    width: 100px;
    padding: 20px;
}
.title {
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
    background-color: $fondo;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
}
.user-img {
    border-radius: 50%;
    background-color: $fondo;
    width: 100px;
    padding: 20px;
}
// Fin de código de estilos para el header
.container {
    margin-top: 5px;
    height: auto;
    width: auto;
    top: 115px;
    position: absolute;
    display: inline-block;
    align-items: center;
    padding: 0;
}
.parche {
    display: flex;
    max-width: $ancho; //Hace falta if para tamaños mayores
    min-width: 384px; //Hace falta if para tamaños menores
    width: 512px;
    margin: 2px;
    border: 1px solid #000;
    background-color: $fondo;
    // &:hover{
    //     transform: scale(1.1); Al ser movil esta escala se debe hacer en caso de hold; browserscript.js
    // }
    * {
        margin: 5px;
        transition: opacity 0.3s linear;
    }
    img {
        left: 20px;
        width: 350px;
        height: 150px;
        transition: all 0.5s linear;
    }
    p {
        text-overflow: ellipsis;
        max-width: 200px;
        max-height: 100px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .data {
        h4 {
            margin: 10px 0px 20px 0px;
            text-align: center;
            border: 1px solid #000;
        }
    }
}
