@use "sass:color";
body{
    
    background-image: url(https://www.medellin.gov.co/irj/go/km/docs/galerias/Imagenes/Galer%C3%ADa%20d%C3%ADa%20a%20d%C3%ADa%202021/20210813-reactivacion-economica-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #394050;
}
a{
    color: #000000;
    text-decoration: none;
}
button{
    border-radius: 2px;
    border:none;
    display: inline-block;
}
#TituloBienvenida{
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.dadform {
    border-radius: 10px;
    background-color: #394050;
    height: 350px;
    width: 250px;
    width: fit-content;
    padding: 50px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -150px;
    margin-top: -250px;
}
.form-login{
    text-align: center;
    color: whitesmoke;
}
.createparche{
    text-align: center;
    color: whitesmoke;
    
}
.submits{
    display: inline;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
#btnSubmit{
    margin-top: 30px;
    margin-right: 5px;
    padding: auto;
//Empieza Perfil

*,
*::after,
*::before {
  box-sizing: inherit;
}

.Fondo_Perfil{
    
    background: url(../imgs/fondo_perfil.jpg);
}
.foto{
    
    background-color: red;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: inherit ;
    
}
.Perfil{
    color:white;
    text-align: center;
    height: 300px;
    padding: 40px;
}
.contacto{
    color:black;
    padding: 10px;
    margin: 2px;
    list-style: none;
    text-align: center;
}

.contacto li{
    display:inline-block;
    margin: 10px;
}
.sobre_mi{
    border-style: solid double;
    background-color:#80DBFF;
    color:black;
    height: 200px;
    padding: 30px;
}
.sobre_mi h1{
    text-align:center;
}

.sobre_mi p{
    font-weight:bold;
}
.icono{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}

.facebook{
    background-image: url(../imgs/Facebook.png);
}

.insta{
    background-image: url(../imgs/Instagram.png);
}

.Galeria{
    padding-bottom: 10px;
  }
.Galeria h1{
    background-color: #CCEFA7;
    text-align: center;
}

.galeria{
    border-style: solid double;
    background-color: #CCEFA7;
    width: 90%;
    margin:auto;
    list-style:none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

.galeria li{
    margin: 5px;

}
.galeria img{
    width: 150px;
    height: 100px;
}
.Modales{
    display: none;


}

.Modales:target {
    display: block;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Modales h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen{
    width: 100%;
    height: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.imagen a{
    color:white;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;

}

.imagen a:nth-child(2)
{
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}
.imagen img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 2px solid;
    box-sizing: border-box;

}
.Cerrar{
    display: block;
    background-color: white;
    width: 30px;
    height: 30px;
    margin:15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding:5px;
    border-radius: 50%;
    line-height: 25px;
}

//Terminan los Perfiles

//Inicia los settings

.body Settings{
    background:url(../imgs/Fondo_Settings.jpg);
    background-size:cover;

}
.Opciones{
    width:350px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    color:black;
}

.Opciones h1{
    text-align:center;
    font-size:40px;
    margin:40px 0;
    text-transform:uppercase;

}
.Opciones select{
    color:black;
}
.Opciones select option{
    color:black;
    font-size:16px;
    width:100%;
    padding:15px 10px;
}

.Opciones p{
    margin: 15px 0;
    font-size:20px;
}
.Opciones input{
    font-size:16px;
    width:100%;
    padding:15px 10px;
}

.fotito{
    margin:50px;
    background-color: red;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    position: inherit ;
}

.Opciones button {
    font-size:18px;
    font-weight:bold;
    margin:20px 0;
    padding: 10px 15px;
    width:120px;
    border-radius:5px;
    color:black;
}

//Termina Settings, Inicia Credits

.about{
    width: 100%;
    padding: 78px 0px;
    background-color:grey;
}

.about img{
    margin:100px;
    height:auto;
    width: 420px;
}

.sobre_nosotros_text {
  
    border: 5px ;
    border-radius: 10%;
   
  }

.Begining{
    width:1130px;
    max-width:95px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:center;
}

.Nombre_autores{
    text-align:center;
    justify-content: center;
}

//Terminos y Condiciones
.Terminos{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn-descarga{
    display:block;
    width:80px;
    height:80px;
    background: black;
    border-radius:50px;
    text-align:center;
    line-height:80px;
    font-size:30px;
    color:white;
    transition:all 400ms ease-out;
    }
}
